body {
  background-color:#FFF;
  /* overflow: hidden; */
  text-align:center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  /* position:absolute; */
  width:100%;
  height:100%;
  /* top: 0px;
  left: 0px; */
}

.body {
  fill:#FCD0E4;
}

.neuronBG {
  opacity:0.29;
}

.coreSurr {
  fill:#B6D2FC;
}

.core {
  fill:#92FFF7;
}

#face {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:none;stroke:#D1D1D1;
  stroke-width:7;
  stroke-miterlimit:10;
}

#brain {
  fill-rule:evenodd;
  clip-rule:evenodd;
  fill:#FFBFAE;
}

#brainNerveAnimation {
  /* width: 50%;
  height: 50%; */
}
