#demo {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

#can {
  /* border:2px solid black; */
  border-radius: 25px;
  width: 250px;
  height: 250px;
  background-color: white
}

#nnOut {
  border-radius: 25px;
  /* border:2px solid; */
  font-size:200px;
  width: 250px;
  height: 250px;
  text-align: center;
  background-color: lightGrey;
  margin: 0;
}

/* 992px is medium sreen size */
@media screen and (max-width: 992px) and (orientation: portrait) {
  #can {
    background-color: white;
    border-radius: 25px;
    width: 180px;
    height: 180px;
    touch-action: none;
  }

  #nnOut {
    border-radius: 25px;
    font-size:160px;
    width: 180px;
    height: 180px;
    text-align: center;
    background-color: lightGrey;
    margin: 0;
  }

  #demo h2 {
    font-weight: bold;
  }
}
