#colabButton {
  border-radius: 20px;
  font-weight: bold;
}

/* --------------------------------- animaiton backgrounds ---------------------- */
/* .bg-3grey {
  background-color: #c9cbca;
  /* background-color: red; */
/* } */
/* animation background colors */
#mnistBG path {
  fill: #E8E8E8;
}

#mnistOutputBG path {
  fill: #DCDCDC;
}

#propBG path {
  fill: #D3D3D3;
}

#repeatBG path {
  fill: #C8C8C8;
}

#codingBG path {
  fill: #C0C0C0;
  /* fill: transparent; */
}

/* .gooFilterLayer {
  filter: url("#goo")
} */

/* 992px is medium sreen size */
@media screen and (max-width: 767px) and (orientation: portrait) {
  #colabButton {
    font-size: 0.8rem;
    /* font-weight: bold; */
  }
}
