/* #E8E8E8
#E0E0E0
#DCDCDC
#D8D8D8
#D3D3D3
#D0D0D0
#C8C8C8 */

body {
  background-color: #FFF;
  text-align: center;
  /* font-size: 23px; */
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

body,
html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.3rem;
}

#logo {
  height: 30px;
  width: auto;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 400px;
  position: fixed;
  top: 0;
  left: -400px;
  min-height: 100vh;
  z-index: 999;
  background: #fff;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: scroll;
}

#sideItems {
    margin-left: 70px;
}

#navSocial {
    margin-left: 80px;
}

#tinyLinks, #navLangSel {
    margin-left: 70px;
    font-size: 12px;
}

.dropdown .dropdown-toggle::after,
.dropup .dropdown-toggle::after {
    display: none;
}

#navDropdownMenuButton {
    border-radius: 20px;
    border:none;
}

#navLogo {
    margin-left: 60px;
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #cecece;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #000;
}

#sidebar ul li a:hover {
  color: #cecece;
  background: #fff;
  text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #fff;
  background: #cecece;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

/* ------------------------------ navbar ---------------------------------------- */
.navbar {
  padding: 15px 10px;
  background: transparent;
  border: none;
  border-radius: 0;
  z-index: 10;
}

.navbar button {
  /* background-color: rgba(255,255,255, 0.5); */
  background-color: transparent;
}

/*
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: none;
} */
/* -------------- The progress bar (scroll indicator) ----------------------*/
.scrollBar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 12px;
  background: #f5c246;
  width: 0%;
  opacity: 1.0;
  border-radius: 6px;
}

.animation {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto 0;
  width: 45%;
  height: auto;
  /* z-index: -1; */
}

/* ------------------------------modal styling ------------------------------ */
#closeMyModalNav {
    border-radius: 20px;
    font-weight: bold;
    color: white;
}

#tipsTextNav p {
    font-size: 1.1rem;
}

#navModalTooltip {
    cursor: pointer;
}

/* ----------------------------- icon styling ------------------------------- */
.iconHeight {
  line-height: 8%;
  color: #bebebe;
}

.arrowIcon {
  color: #999999;
  font-size: 110%;
}

#scrollIcon, .fa-angle-down {
  color: #585858;
}

.iconHeight.fa-angle-down {
    font-size: 1.8rem;
}

#scrollIcon {
  font-size: 110%;
}

.arrowIcon a {
  color: inherit;
}

.arrowIcon a:hover {
  color: #9d9d9d;
}

p a {
  color: inherit;
}

p a:hover{
  color: #9d9d9d;
  text-decoration: none;
}

.highlight {
  /* color: #ffc107; */
  cursor: pointer;
  /* text-decoration: underline; */
}

/* ----------------------------- Tooltip styling ------------------------------- */
/* Tooltip */
.tooltip .tooltip-inner {
  background-color: #ffc107;
  color: #000;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  font-family: 'Nunito', sans-serif;
  text-align: left;
  z-index: 900;
}

/* Tooltip on top */
.bs-tooltip-auto.arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #ffc107;
}

/* Tooltip on bottom */
.bs-tooltip-auto.arrow::before, .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #ffc107;
}

#openingText {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

#endingText {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  margin: 0;
  padding: 20px 0;
  background-color: #e9e9e9;
}

#endingText ul {
  line-height: 80%;
}

#endingText p a {
  border-bottom: 0.5px solid #000;
  padding-bottom: 1px.
}

#endingText p a::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "\f0c1";
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  font-size: 15px;
}

.animLeft {
  -webkit-transform: translate(-95%, -50%);
          transform: translate(-95%, -50%);
}

.animRight {
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}

.scene {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  /* margin:0;
  padding: 0; */
}

.firstScene {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  /* margin:0;
  padding: 0; */
  /* background-color: red; */
}

.text {
  width: 30%;
  position: absolute;
  text-align: left;
  line-height: 1.5;
  top: 50%;
}

.left {
  left: 0%;
  -webkit-transform: translate(30%, -50%);
          transform: translate(30%, -50%);
}

.right {
  left: 70%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

/*
#E8E8E8
#E0E0E0
#DCDCDC
#D8D8D8
#D3D3D3
#D0D0D0
#C8C8C8
#C0C0C0
#BEBEBE*/

.bg-1grey { background-color: #E8E8E8; }
/* .bg-1grey { background-color: red; } */
.bg-2grey { background-color: #DCDCDC; }
.bg-3grey { background-color: #D3D3D3; }
.bg-4grey { background-color: #C8C8C8; }
.bg-5grey { background-color: #C0C0C0; }

.upperLayer {z-index: 1;}

.topLayer {z-index: 2;}

.threeLayer {z-index: 3;}

.fourLayer {z-index: 4;}

.fiveLayer {z-index: 5;}

.bg-white {
  background-color: #fff;
}

/* 992px is medium sreen size */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .animation {
    /* background-color: red; */
    position: fixed;
    top: 0%;
    left: 50%;
    margin: auto 0;
    width: 100%;
    height: auto;
    /* z-index: -1; */
  }

  .animLeft {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .animRight {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .text {
    /* background-color: red; */
    top: auto;
    width: 80%;
    position: absolute;
    text-align: left;
    line-height: 1.1;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }

  .left {}

  .right {}

  p {
    font-size: 0.9rem;
  }

  #endingText p {
    font-size: 0.8rem;
  }

  #scrollIcon {
    font-size: 0.6rem;
    display: none;
  }

  .iconHeight {
    line-height: 0rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  #endingText ul {
    line-height: 20%;
  }

  #endingText p a::before {
    font-size: 10px;
  }

  /* Tooltip */
  .tooltip .tooltip-inner {
    padding: 9px;
    font-size: 10px;
  }

  #sidebar {
    width: 300px;
    left: -300px;
  }

  #sideItems, #tinyLinks, #navLangSel {
      margin-left: 40px;
  }

  .text-left ol {
      font-size: 80%;
  }

  #navSocial {
      margin-left: 50px;
  }

  #navLogo {
      margin-left: 30px;
  }

  #tipsTextNav p{
      font-size: 0.9rem;
  }

  .iconHeight.fa-angle-down {
      font-size: 1.4rem;
  }
}
