body {
  background-color:#FFF;
  text-align:center;
  /* font-size: 23px; */
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width:100%;
  height:100%;
}

p {
  font-size: 1.3rem;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: -300px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #000;
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #cecece;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    top:0;
    left:0;
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #000;
}

#sidebar ul li a:hover {
    color: #cecece;
    background: #fff;
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #cecece;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

/* ------------------------------ navbar ---------------------------------------- */
.navbar {
    padding: 15px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    z-index: 10;
}

.navbar button {
  /* background-color: rgba(255,255,255, 0.5); */
  background-color: transparent;
}
/*
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: none;
} */


/* -------------- The progress bar (scroll indicator) ----------------------*/
.scrollBar {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 6px;
  background: #3BB9FF;
  width: 0%;
  opacity: 0.5;
}

.animation {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: auto 0;
  width: 60%;
  height: auto;
  /* z-index: -1; */
}

.animLeft {
  transform: translate(-85%, -50%);
}

.animRight {
  transform: translate(-17%, -50%);
}

.scene {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

.firstScene {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  /* background-color: red; */
}

.text {
  width: 30%;
  position: absolute;
  text-align: left;
  line-height: 1.5;
  top: 50%;
}

.left {
  left: 0%;
  transform: translate(30%, -50%);
}

.right {
  left: 70%;
  transform: translate(-30%, -50%);
}

.bg-grey {
  background-color: #f1f1f1;
}

.upperLayer {
  z-index: 1;
}

.topLayer {
  z-index: 2;
}

.threeLayer{
  z-index: 3;
}

.bg-white {
  background-color: #fff;
}

/* 992px is medium sreen size */
@media screen and (max-width: 992px) and (orientation: portrait) {
  .animation {
    /* background-color: red; */
    position: fixed;
    top: 0%;
    left: 50%;
    margin: auto 0;
    width: 100%;
    height: auto;
    /* z-index: -1; */
  }

  .animLeft {
    transform: translate(-50%, 0%);
  }

  .animRight {
    transform: translate(-50%, 0%);
  }

  .text {
    /* background-color: red; */
    top: auto;
    width: 80%;
    position: absolute;
    text-align: left;
    line-height: 1.2;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .left {}

  .right {}

  p {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.8rem;
  }

}
