body {
  background-color:#FFF;
  text-align:center;

  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Oxygen', sans-serif;
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Hind Madurai', sans-serif; */
  /* font-family: 'Gudea', sans-serif; */
  font-size: 23px;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

svg {
  width:100%;
  height:100%;
}

/* The progress bar (scroll indicator) */
.scrollBar {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 6px;
  background: #3BB9FF;
  width: 0%;
  opacity: 0.5;
}

.animation {
  /* background-color: red; */
  position: fixed;
  top: 0%;
  left: 50%;
  margin: auto 0;
  width: 100%;
  height: auto;
  /* z-index: -1; */
}

/* testing mobile */
.animLeft {
  transform: translate(-50%, 0%);
}

.animRight {
  transform: translate(-50%, 0%);
}

.scene {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  /* margin: auto; */
}

.firstScene {
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

.text {
  /* background-color: red; */
  width: 80%;
  position: absolute;
  text-align: left;
  line-height: 1.5;
  bottom: 10%;
  left: 50%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, 0%);
}

.left {
  /* left: 0%;
  transform: translate(-50%, 0%);
  background-color: blue; */
}

.right {
  /* left: 0%; */
}

.bg-grey {
  background-color: #f1f1f1;
}

.upperLayer {
  z-index: 1;
}

.topLayer {
  z-index: 2;
}

.threeLayer{
  z-index: 3;
}

.bg-white {
  background-color: #fff;
}
