#start {
  border-radius: 20px;
  font-weight: bold;
  color: white;
}

#openingText h1 {
  font-weight: bold;
  font-size: 3.5em;
}

/* --------------------------------- animaiton backgrounds ---------------------- */
#seedBG path {
  fill: #E8E8E8;
}

.gooFilterLayer {
  filter: url("#goo")
}

/* 992px is medium sreen size */
@media screen and (max-width: 992px) and (orientation: portrait) {
  #openingText h1 {
    font-weight: bold;
    font-size: 2em;
  }
}
